html, body, #content{
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
}

.btn{
    color: slategray;
    font-weight: bold;
    font-family: sans;
}

.input, .btn{
    width: 100%;
    border-width: 0 0 1px 0;
    padding: 1em  0 0.75em  0;
    margin: 0.75em  0 0.75em  0;
}

#content{
    width: 90%;
    margin: 0 auto;
}